In [1]:
import numpy as np
import pandas as pd

In [15]:
car_insurance = pd.read_csv('Train_data.csv')
new_test_data = pd.read_csv('Test_data.csv')

In [16]:
car_insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3102 entries, 0 to 3101
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  3102 non-null   float64
 1   job_type             3091 non-null   object
 2   marital_status       3102 non-null   object
 3   education_level      2989 non-null   object
 4   default_or_not       3102 non-null   int64
 5   balance_amt          3102 non-null   float64
 6   household_insurance  3102 non-null   int64
 7   car_loan             3102 non-null   int64
 8   communication        2559 non-null   object
 9   last_contact_day     3102 non-null   int64
 10  last_contact_month   3102 non-null   object
 11  no_of_contacts       3102 non-null   int64
 12  days_passed          3102 non-null   int64
 13  prev_attempts        3102 non-null   int64
 14  Outcome              751 non-null    object
 15  call_start           3102 non-null   object
 16  call_end             3102 non-null   object
 17  car_insurance        3102 non-null   int64
dtypes: float64(2), int64(8), object(8)
memory usage: 436.3+ KB

In [17]:
new_test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  935 non-null    float64
 1   job_type             930 non-null    object
 2   marital_status       935 non-null    object
 3   education_level      901 non-null    object
 4   default_or_not       935 non-null    int64
 5   balance_amt          935 non-null    float64
 6   household_insurance  935 non-null    int64
 7   car_loan             935 non-null    int64
 8   communication        770 non-null    object
 9   last_contact_day     935 non-null    int64
 10  last_contact_month   935 non-null    object
 11  no_of_contacts       935 non-null    int64
 12  days_passed          935 non-null    int64
 13  prev_attempts        935 non-null    int64
 14  Outcome              240 non-null    object
 15  call_start           935 non-null    object
 16  call_end             935 non-null    object
dtypes: float64(2), int64(7), object(8)
memory usage: 124.3+ KB

In [18]:
car_insurance.head()

,age,job_type,marital_status,education_level,default_or_not,balance_amt,household_insurance,car_loan,communication,last_contact_day,last_contact_month,no_of_contacts,days_passed,prev_attempts,Outcome,call_start,call_end,car_insurance
0,47.000000,blue-collar,married,primary,0,1112.000000,1,0,cellular,13,may,1,-1,0,NaN,10:22:20,10:24:29,0
1,46.031442,management,married,tertiary,0,1.312372,0,1,cellular,15,may,3,219,1,other,09:06:30,13:59:48,1
2,36.000000,services,single,NaN,0,281.000000,1,0,NaN,16,may,1,-1,0,NaN,13:18:41,13:27:16,1
3,32.000000,technician,single,secondary,0,540.000000,0,1,cellular,29,jan,1,-1,0,NaN,10:09:18,10:21:48,1
4,30.000000,admin.,single,secondary,0,315.000000,1,0,cellular,14,may,3,346,4,failure,12:12:30,12:27:14,1

In [19]:
car_insurance.isnull().sum()

age                       0
job_type                 11
marital_status            0
education_level         113
default_or_not            0
balance_amt               0
household_insurance       0
car_loan                  0
communication           543
last_contact_day          0
last_contact_month        0
no_of_contacts            0
days_passed               0
prev_attempts             0
Outcome                2351
call_start                0
call_end                  0
car_insurance             0
dtype: int64

In [20]:
new_test_data.isnull().sum()

age                      0
job_type                 5
marital_status           0
education_level         34
default_or_not           0
balance_amt              0
household_insurance      0
car_loan                 0
communication          165
last_contact_day         0
last_contact_month       0
no_of_contacts           0
days_passed              0
prev_attempts            0
Outcome                695
call_start               0
call_end                 0
dtype: int64

In [21]:
car_insurance = car_insurance[['age', 'default_or_not', 'balance_amt', 'household_insurance', 'car_loan', 'no_of_contacts', 'prev_attempts', 'car_insurance']]

In [22]:
car_insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3102 entries, 0 to 3101
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  3102 non-null   float64
 1   default_or_not       3102 non-null   int64
 2   balance_amt          3102 non-null   float64
 3   household_insurance  3102 non-null   int64
 4   car_loan             3102 non-null   int64
 5   no_of_contacts       3102 non-null   int64
 6   prev_attempts        3102 non-null   int64
 7   car_insurance        3102 non-null   int64
dtypes: float64(2), int64(6)
memory usage: 194.0 KB

In [23]:
new_test_data = new_test_data[['age', 'default_or_not', 'balance_amt', 'household_insurance', 'car_loan', 'no_of_contacts', 'prev_attempts']]

In [29]:
new_test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  935 non-null    float64
 1   default_or_not       935 non-null    int64
 2   balance_amt          935 non-null    float64
 3   household_insurance  935 non-null    int64
 4   car_loan             935 non-null    int64
 5   no_of_contacts       935 non-null    int64
 6   prev_attempts        935 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 51.3 KB

In [30]:
car_insurance.isnull().sum()

age                    0
default_or_not         0
balance_amt            0
household_insurance    0
car_loan               0
no_of_contacts         0
prev_attempts          0
car_insurance          0
dtype: int64

In [32]:
new_test_data.isnull().sum()

age                    0
default_or_not         0
balance_amt            0
household_insurance    0
car_loan               0
no_of_contacts         0
prev_attempts          0
dtype: int64

In [33]:
X = car_insurance.drop('car_insurance', axis = 1)
y = car_insurance['car_insurance']

In [34]:
!pip install sklearn

Requirement already satisfied: sklearn in c:\users\user\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\user\anaconda3\lib\site-packages (from sklearn) (0.23.1)
Requirement already satisfied: joblib>=0.11 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn->sklearn) (0.16.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.5.0)

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [36]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [37]:
!pip install graphviz

Requirement already satisfied: graphviz in c:\users\user\anaconda3\lib\site-packages (0.14.1)

In [38]:
from sklearn.metrics import accuracy_score
print('Training accuracy is', accuracy_score(y_train, model.predict(X_train)))
print('Test accuracy', accuracy_score(y_test, model.predict(X_test)))

Training accuracy is 0.9985563041385948
Test accuracy 0.630859375

In [131]:
model_improved = DecisionTreeClassifier(random_state=2, max_depth = 7)
model_improved.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=7, random_state=2)

In [132]:
print('train score is ', accuracy_score(y_train, model_improved.predict(X_train)))
print('test score is ', accuracy_score(y_test, model_improved.predict(X_test)))

train score is  0.710298363811357
test score is  0.638671875

In [133]:
predictions = model.predict(new_test_data)

In [135]:
print('Test accuracy', accuracy_score(predictions, model_improved.predict(new_test_data)))

Test accuracy 0.7122994652406417

In [136]:
res = pd.DataFrame(predictions) 
res.index = new_test_data.index
res.columns = ["prediction"]
res.to_csv("prediction_results.csv", index = False)